.profile-logo {
  width: 100%;
  height: auto; }

.profile-logo-text {
  color: white;
  margin-left: -15px; }

.first-nav {
  margin-top: 20px;
  color: white; }

.nav {
  margin-top: 10px;
  color: white; }
