#modal_file_table {
	padding-left: 30px;
}

.comment-wrapper {
	margin-left: 70px; 
	margin-top: 20px;
}

.comment-form {
	margin-top: 20px; 
	width: 85%;
}

.button-wrapper {
    margin-top: 10px;
    margin-bottom: 35px;
}

.modal-close-button-wrapper {
	margin-top: 20px;
	margin-right: 6%;
}