#topbar_icons_wrapper .sv-logo {
    height: 40px;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: -7px;
}

#topbar_icons_wrapper i.topbar-icon {
    margin-top: -20px;
    margin-right: 20px;
    float: right;
    cursor: pointer;
}